:root {
  font-family: "Space Mono", monospace;
  line-height: 1;
  font-weight: 400;

  background-color: ivory;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  margin: 1em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.thingname {
  margin: 0px 1em;
}

button {
  border-radius: 8px;
  padding: 0.6em 0.6em;
  margin: 0.5em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  margin: 0.5em 1em;
}

table {
  margin: 0.5em;
}

table,
td,
th {
  border: 1px solid;
}

td,
th {
  padding: 4px;
}

p {
  margin: 0.5em 0px;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 2em;
}
